html {
    background-color: rgb(236, 209, 209);
    font-size:18px ;
    font-family: fantasy;
    background-position-x: center;
    color: darkslategray;
    
}
h1{
    color: rgb(85, 17, 85);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    text-shadow: 3px 3px 1px black;
    text-align: center;
    text-overflow: ellipsis ;
}
h2{
    color: rgb(8, 36, 36);
    text-shadow: 3px 3px 1px rgb(129, 121, 121);
}
img{
   
    display: block;
    width: 200px;
    height: 200px;

}
table {
    align-content: center;
    margin: 0 auto;
}
p,li {
    font-size: 19px;    
  line-height: 2;
  letter-spacing: 0;
}
body{
    width: 700px;
  margin: 0 auto;
  
  padding: 0 400px 50px 100px;
  border: 5px solid black;
}
