html {
  font-size: 20px; /* px signifie 'pixels': la taille de base pour la police est désormais 20 pixels de haut  */
  font-family: 'Open Sans', sans-serif; /* cela devrait être le reste du résultat obtenu à partir de Google fonts */
}
h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}
body {
  width: 700px;
  margin: 0 auto;
  background-color:rgb(224, 85, 20);
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
html {
  background-color: rgb(15, 128, 226);
}
h1 {
  margin: 0;
  padding 20px 0;
  color #00539F
  text-shadow 3px 3px 1px black;
}
img {
  display: block;
  margin: 0 auto;
}
footer{
  color: rgb(196, 199, 43);
  font-variant: normal ;
  font-size: 16px;
  
}
input{
  background-color: black;
  color: blanchedalmond;
}
::placeholder{
  color: antiquewhite;
}
